# macOS
.DS_Store

# Ignore VSCode
*.vscode

# Ignore Git
.git
# .gitignore

# Ignored Terraform files
.terraform
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Ignore auth tokens
token.txt

# SSH Keys
*.pem
*.rsa

# Backup files
*.bak

# Logs
*.log
